html {
    background-color: #FFFFFF;
    font-family: 'Roboto' "Helvetica Nueu" sans-serif;
    letter-spacing: 0.14rem;
}

.color-bar {
    background-color: #BE9B7B;
    height: 0.8rem;
}

.nav-bar {
    width: 100%;
    height: 9rem;
    position: fixed;
    background-color: #FFFFFF;
    z-index: 9999;
}

.logo {
    float: left;
}

.company-name {
    width: 16rem;
    float: left;
    margin-top: 0;
    padding-top: 1.2rem;
    padding-left: 0.5rem;
    font-size: 1.5rem;
    font-family: "Rhodium Libre" "Georgia" serif;
}

.links {
    list-style: none;
    float: right;
    margin: 0;
}

.links > li {
    display: inline-block;
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem 1rem 1.5rem;
}

.home {
    background-color: #BE9B7B;
    border-radius: 0 0 2rem 2rem;
}

.hero {
    background-image: url("../images/pasta-527286.jpg");
    background-repeat: no-repeat;
    /*background-position: 5%;*/
    background-size: cover;
    padding: 021rem 0;
}

.intro {
    margin: 3rem 15% 0 15%;
    display: inline-block;
    position: relative;
}

.president {
    height: 10rem;
    width: 10rem;
    padding-left: 3rem;
    float: left;
}

.photo-caption {
    padding: 9rem 0 0 1rem;
    float: left;
    position: absolute;
}

.mission-title {
    font-family: 'Rhodium Libre' 'Georgia' serif;
    padding-left: 23rem;
    margin: 0;
    color: #BE9B7B;
}

.mission-title > li {
    list-style: none;
}

.mission {
    padding-left: 23rem;
    margin: 0;
}

.mission > li {
    list-style: none;
    margin: 0;
    max-width: 80%
}

footer {
    text-align: center;
    margin: 0;
    color: #BE9B7B;